@media only screen and (min-width: 768px) {
.topContent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #65cdf5;
    color: white;
    height: 120px;
  }
  
  .logo{
      flex: 1;
      text-align: right;
  }
  
  .logo img{
      width: 120px;
      padding: 10px;
      height: auto;
  }
  
  .name {
      width: 700px;
      flex: 2;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
  }

  .name img{
    width: 700px;
    height: auto;
  }

  .big-picture {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .big-picture img {
    width: 100%;
    height: auto;
  }
  
  .title-dong {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    color: white;
    background-color: #3d85c6;
    height: 20px;
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    font-size: 10px;
    overflow: hidden; /* Thêm thuộc tính này để ẩn nội dung tràn */
  }
  
  .title-dong span {
    display: inline-block;
    white-space: nowrap;
    animation: scroll-left 25s linear infinite;
  }
  
  @keyframes scroll-left {
    0% {
      transform: translateX(100%); /* Bắt đầu từ bên ngoài phía phải */
    }
    100% {
      transform: translateX(-100%); /* Chạy hết ra phía bên trái */
    }
  }
}

@media only screen and (max-width: 767px) {
  .topContent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    background-color: #074f7e;
    color: white;
  }
  
  .logo{
      flex: 1;
      text-align: center;
  }
  
  .logo img{
      width: 100px;
      height: auto;
  }

  .big-picture {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .big-picture img {
    width: 100%;
    height: auto;
  }
  
  .name {
      height: 100%;
      flex: 2;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
  }
  
  .title-dong {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    color: white;
    background-color: #669bcb;
    height: 20px;
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    font-size: 10px;
    overflow: hidden; /* Thêm thuộc tính này để ẩn nội dung tràn */
  }
  
  .title-dong span {
    display: inline-block;
    white-space: nowrap;
    animation: scroll-left 25s linear infinite;
  }
  
  @keyframes scroll-left {
    0% {
      transform: translateX(100%); /* Bắt đầu từ bên ngoài phía phải */
    }
    100% {
      transform: translateX(-100%); /* Chạy hết ra phía bên trái */
    }
  }
}