/*WEB -------------------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) {
    .list-and-info{
      display: flex;
    }
    
    .map {
      display: flex;
      justify-content: center; /* Căn giữa theo chiều ngang */
      align-items: center; /* Căn giữa theo chiều dọc */
      flex: 4;
      margin-right: 10px;
      transition: all 0.3s ease;
      margin: 2vw;
    }
    
    .list{
      flex:1;
      height: 700px;
      padding: 1vw;
    }
    
    .info {
      flex: 2;
      display: flex;
      height: 700px;
      padding: 50px;
      justify-content: center; /* Center horizontally */
      align-items: center; /* Center vertically */
  }
    .footer {
      background-color: #620101;
      color: #fff;
      text-align: center;
      width: 100%;
      bottom: 0;
      padding: 10px;
      font-family: Arial, Helvetica, sans-serif;
    }

    .footer img{
      width: 15px;
    }

    .content{
      margin-left: 10vw;
      margin-right: 10vw;
      margin-top: 5vh;
      margin-bottom: 5vh;
      background-color: #fffbfb;
    }
    
    .nav-container {
      background: linear-gradient(to right, #d69d00, #f3c23e); /* Gradient vàng nền */
      padding-left: 5vw;
      padding-top: 5px;
      padding-bottom: 5px;
    }


    .button {
      flex: 1;
      padding: 10px 15px;
      text-align: center;
      border: none;
      background: transparent;
      font-size: larger;
      font-weight: bold;
      color: #800000; /* Màu chữ đỏ sậm */
      cursor: pointer;
      transition: background 0.3s ease;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    .button.active {
      background-color: #fff6d5; /* Màu vàng nhạt khi active */
    }
    
    .button:not(:last-child) {
      border-right: 2px solid #800000; /* Viền phải giữa các nút */
    }




    .nav-container-mini {
      display: flex;
      padding: 5px;
      margin-bottom: 10px;
      margin-top: 10px;
    }
    
    .buttonMini {
      flex: 1;
      padding: 8px 12px;
      text-align: center;
      border: none;
      background: transparent;
      font-size: 20px;
      font-weight: bold;
      color: #27baf0; /* Màu chữ đỏ sậm */
      cursor: pointer;
      transition: background 0.3s ease;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    .buttonMini.active {
      background-color: #3e4095; /* Màu vàng nhạt khi active */
      color:#efeff6;
    }

    .text-and-img{
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Arial, Helvetica, sans-serif;
      color: #373686;
      text-align: justify;
      font-size: larger;
      margin: 10px;
      
    }

    .text{
      flex: 2;
      margin: 10px;
      text-indent: 50px;
      line-height: 30px;
    }
    .img{
      flex: 1.5;
    }

    .map{
      justify-content: center;
    }

    .congtrinh{
      text-indent: 50px;
      line-height: 30px;
      justify-content: center;
      align-items: center;
      font-family: Arial, Helvetica, sans-serif;
      color: #373686;
      text-align: justify;
      font-size: larger; 
    }
    
    
}

/*MOBILE -------------------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
  .list-and-info{
    display: flex;
  }
  
  .map {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    flex: 4;
    margin-right: 10px;
    transition: all 0.3s ease;
    margin: 2vw;
  }
  
  .list{
    flex:1;
    height: 700px;
    padding: 1vw;
  }
  
  .info {
    flex: 2;
    display: flex;
    height: 700px;
    padding: 50px;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}
  .footer {
    background-color: #620101;
    color: #fff;
    text-align: center;
    width: 100%;
    bottom: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .footer img{
    width: 15px;
  }

  .nav-container {
    background: linear-gradient(to right, #d69d00, #f3c23e); /* Gradient vàng nền */
    padding-left: 5vw;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .button {
    flex: 1;
    padding: 10px 15px;
    text-align: center;
    border: none;
    background: transparent;
    font-size: larger;
    font-weight: bold;
    color: #800000; /* Màu chữ đỏ sậm */
    cursor: pointer;
    transition: background 0.3s ease;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .button.active {
    background-color: #fff6d5; /* Màu vàng nhạt khi active */
  }
  
  .button:not(:last-child) {
    border-right: 2px solid #800000; /* Viền phải giữa các nút */
  }

  .content{
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-color: #fffbfb;
  }


  .nav-container-mini {
    display: flex;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .buttonMini {
    flex: 1;
    padding: 8px 12px;
    text-align: center;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: bold;
    color: #27baf0; /* Màu chữ đỏ sậm */
    cursor: pointer;
    transition: background 0.3s ease;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .buttonMini.active {
    background-color: #3e4095; /* Màu vàng nhạt khi active */
    color:#efeff6;
  }

  .text-and-img{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #373686;
    text-align: justify;
    font-size: larger;
    margin: 10px;
    
  }

  .text{
    flex: 2;
    margin: 10px;
    text-indent: 50px;
    line-height: 30px;
  }
  .img{
    flex: 1.5;
  }

  .map{
    justify-content: center;
  }

  .congtrinh{
    text-indent: 50px;
    line-height: 30px;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #373686;
    text-align: justify;
    font-size: larger; 
  }
}